# update your host machine my.cnf to allow remote connections
# file must have 0660  permission
[mysql-proxy]
proxy-backend-addresses = 10.0.0.15:3306
proxy-address = 127.0.0.1:3306
log-file = /home/vagrant/mysql-proxy.log

proxy-skip-profiling = true

plugins=proxy
daemon = true
keepalive = true
max-open-files = 2048
event-threads = 50
log-level = debug

# mysql-proxy --defaults-file=/home/vagrant/mysql-proxy.cnf
